<!-- In your application's HTML tempalte, you place a <router-outlet></router-outlet> 
tag where youw ant the routed components to be displayed. The router outlet 
acts as a placeholder that dynamically renderes the appropriate component
based on the current route. 

The navbar component in Angular is a common UI component used to create a navigation bar
or meny that allows users to navigate between different sections or pages of an application. 
It typically appears at the top of the screen and provides links or buttons to various routes
within the application. 

note: the self-closing tag syntax can only be used with components that doesn't have 
content or children. If a component requires content or has child elements, the
traditional opening and closing tag syntax must be used. -->

<!-- Self-closing tag syntax-->
<app-navbar />

<!-- Traditional syntax-->
<router-outlet></router-outlet>